.table {
  border-spacing: 0;
  border-collapse: collapse;

  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;

  th, td {
    text-align: left;
    padding: 0.25rem;
    border: 1px solid #eee;
  }
}

.normalRow {
  background-color: white;
  transition: background-color 1.0s ease-in;
}

.recentUpdate {
  background-color: lightblue;
  transition: background-color 0.25s ease-in;
}
